.uno a{
    text-decoration: none;
    display: block;
    border:2px solid gray;
    width:150px;
    text-align: center;
    padding-top: 10px;
    margin:right;
    background-color: red;
    color: #F3F781;
    font-family: "Trebuchet MS";
}
h1{
    font-family: "Trebuchet MS";
        -webkit-text-fill-color:red;
        -webkit-text-stroke:2px;
        -webkit-text-stroke-color:#fff;
    text-align: center;
    background-color:#FA5858;
    margin:right;
            font-size: 40px
        
}
h2{
    color :#F3F781;
    font-family: "Trebuchet MS";

    -webkit-text-fill-color:red;
    size: "4";
        -webkit-text-stroke:1px;
        -webkit-text-stroke-color:#fff;

}
body{

    background-image: url(https://k38.kn3.net/B/2/F/2/9/F/4F4.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;

}

    .contenedor {
        display: grid;
        grid-template:110px 1fr 250px / 350px 1fr 310px;
        height: 70vh;
        grid-template-areas: "logo titulo  registro"
                     " descripcion descripcion registro"
                              "links links registro"
    }
    .logo{
        grid-area: logo;
    }
    .titulo{
        text-align: center;
        grid-area: titulo;
        width:698px;
        height:40px;


    }
    .registro{
        grid-area: registro;
        font-family: "Trebuchet MS";
        -webkit-text-fill-color:green;
        -webkit-text-stroke:1px; 
        background-color:#F4FA58;
        text-align: left;
        width: 30vh ; 
        height:61vh ;
        padding: 2rem;
        margin:5em 0;
         border: 2px solid red;
            border-radius: 5px;
        border-bottom: solid #21610B 2rem;
        transition: all 5s;
    }
    .descripcion {
        grid-area: descripcion;
        font-family: "verdana";
        font-size: "6";
        
        -webkit-text-fill-color:red;
        -webkit-text-stroke:1px; 
        text-align: Center;
        width:1150px;
        height:190px;
        
    }
    .links{
        grid-area: links
    
    

    }				
        .links ul{
            display: flex;
            padding: 0;
            width: 400%;

            animation: cambio 20s infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in;
        }		 
            .links li{
                width: 100%;
                list-style: none;
            }
                .links img{
                    width: 100%;
                }
                @keyframes cambio{
                    0% {margin-left: 0;}
                    20% {margin-left: 0; }

                    25%{margin-left: -100%}
                    45%{margin-left: -100%}

                    50%{margin-left: -200%}
                    70%{margin-left: -200%}

                    75%{margin-left: -300%}
                    100%{margin-left: -300%}
                }